.header{
  display: flex;
}
.nav-bar {
  font-size: x-large;
  text-align: center;
  margin: auto;
    
}
.navbar-item {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-around;
 
}
.navbar-logo {
  height: 130px;

}
