header{
  font-size: 32px;
  word-spacing: 10px;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  text-align: center;
  display: flex;
  margin: 10px 10px -10px 10px;
    
}
body{
  background-color: #545B77;
}
h1{
  text-align: center;
}

.nav-bar {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.head-logo {
  height: 163px;
  display: flex;
  margin-right: 200px;
  margin-left: 15px;
}
.head-logo2{
  height: 167px;
  margin-left: 200px;
}
a{
  margin-right: 130px;
  text-decoration: none;
  color:  #ffff;
}
a:hover{color: red;}
.experiment{
  width: 750px;
}
footer{
  text-align: right;
}
.box {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
}
#login {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  border: 1px solid black;
  font-style: bold;
  font-size: 16px;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="submit"] {
  border: 1px solid black;
  display: block;
  background-color: #917FB3;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
#forgot-password {
  border: 1px solid black;
  background-color: #917FB3;
  font-size: 20px;
  width: 100%;
  padding: 0.1px 0;
  border-radius: 0 0 4px 4px;
}

