header{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  text-align: center;
  display: flex;
  margin: 20px;
    
}
body{
  background-color: #068DA9;
}
.nav-bar {
  font-size: x-large;
  text-align: center;
  margin: auto;
    
}
.navbar-item {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-around;
 
}
.head-logo {
  height: 150px;
  display: flex;
  margin-right: 100px;

}
